<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yhy.oauthserver.user.dao.RoleRelModelMapper">
  <resultMap id="BaseResultMap" type="com.yhy.oauthserver.user.pojo.RoleRelModel">
    <result column="role_rel_model_id" jdbcType="VARCHAR" property="roleRelModelId" />
    <result column="role_id" jdbcType="VARCHAR" property="roleId" />
    <result column="model_id" jdbcType="VARCHAR" property="modelId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
  </resultMap>
  <insert id="insert" parameterType="com.yhy.oauthserver.user.pojo.RoleRelModel">
    insert into role_rel_model (role_rel_model_id, role_id, model_id, 
      create_time, create_user, update_time, 
      update_user)
    values (#{roleRelModelId,jdbcType=VARCHAR}, #{roleId,jdbcType=VARCHAR}, #{modelId,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{updateUser,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yhy.oauthserver.user.pojo.RoleRelModel">
    insert into role_rel_model
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roleRelModelId != null">
        role_rel_model_id,
      </if>
      <if test="roleId != null">
        role_id,
      </if>
      <if test="modelId != null">
        model_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="roleRelModelId != null">
        #{roleRelModelId,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=VARCHAR},
      </if>
      <if test="modelId != null">
        #{modelId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
    <delete id="deleteInfoByParameter"  parameterType="Map">
  	DELETE
FROM
	role_rel_model
WHERE
	 role_id = #{roleId}
  </delete>
  
</mapper>