<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yhy.oauthserver.user.dao.SystemUrlMapper">
  <resultMap id="BaseResultMap" type="com.yhy.oauthserver.user.pojo.SystemUrl">
    <result column="system_url_id" jdbcType="VARCHAR" property="systemUrlId" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="url_describe" jdbcType="VARCHAR" property="urlDescribe" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
  </resultMap>
  <insert id="insert" parameterType="com.yhy.oauthserver.user.pojo.SystemUrl">
    insert into system_url (system_url_id, url, url_describe, 
      create_time, update_time, create_user, 
      update_user)
    values (#{systemUrlId,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, #{urlDescribe,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=VARCHAR}, 
      #{updateUser,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yhy.oauthserver.user.pojo.SystemUrl">
    insert into system_url
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="systemUrlId != null">
        system_url_id,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="urlDescribe != null">
        url_describe,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="systemUrlId != null">
        #{systemUrlId,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="urlDescribe != null">
        #{urlDescribe,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <select id="getUrlList"  resultType = "Map">
  	SELECT
	DATE_FORMAT(
		s.create_time,
		'%Y-%c-%d %H:%i:%s'
	) AS create_time,
	u1.user_name AS create_user,
	DATE_FORMAT(
		s.update_time,
		'%Y-%c-%d %H:%i:%s'
	) AS update_time,
	u2.user_name AS update_user,
	s.system_url_id,
	s.url,
	s.url_describe
FROM
	system_url AS s
LEFT JOIN t_users AS u1 ON u1.id = s.create_user
LEFT JOIN t_users AS u2 ON u2.id = s.update_user
ORDER BY s.create_time DESC
  </select>
  
  <select id="getUrlListByMid" parameterType = "String" resultType = "Map">
  SELECT
	DATE_FORMAT(
		s.create_time,
		'%Y-%c-%d %H:%i:%s'
	) AS create_time,
	u1.user_name AS create_user,
	DATE_FORMAT(
		s.update_time,
		'%Y-%c-%d %H:%i:%s'
	) AS update_time,
	u2.user_name AS update_user,
	s.system_url_id,
	s.url,
	s.url_describe
FROM
	system_url AS s
LEFT JOIN t_users AS u1 ON u1.id = s.create_user
LEFT JOIN t_users AS u2 ON u2.id = s.update_user
LEFT JOIN model_rel_url as mru ON mru.url_id = s.system_url_id
WHERE mru.model_id = #{Mid}
ORDER BY s.create_time DESC
  </select>
  
  <update id="updateUrlInfo" parameterType="Map">
  	UPDATE system_url
SET url = #{url},
 url_describe = #{urlDescribe},
 update_user = #{updateUser},
 update_time = NOW()
WHERE
	system_url_id = #{urlId}
  </update>

<delete id="deleteUrlByid" parameterType = "String">
	DELETE FROM system_url WHERE system_url_id = #{urlId}
</delete>

<delete id="deleteUrlInfoByid" parameterType = "String">
	DELETE FROM model_rel_url WHERE url_id = #{urlId}
</delete>
</mapper>