/target/
/.settings/
/src/test/
/src/main/resources/static/static/
/src/main/resources/static/index.html/
/src/main/vue/node_modules/
*.iml

.DS_Store
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/test/unit/coverage/

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
/src/main/vue/package-lock.json
